# ignore vim bundles
vim/.vim/bundle/*

# ignore tmux plugins and resurrect
tmux/.tmux/plugins
tmux/.tmux/resurrect

# except
vim/.vim/bundle/Vundle.vim

vim/.vim/plugged/*
vim/.vim/plugged-unmanaged/*
