"*":
  "activate-power-mode":
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake: {}
  "atom-typescript": {}
  "autoclose-html": {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "activate-power-mode"
      "minimap"
      "minimap-highlight-selected"
      "pigments"
      "atom-typescript"
      "language-latex"
      "latex"
      "emmet"
      "ex-mode"
      "vim-mode"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    softWrap: true
    tabLength: 4
  emmet: {}
  "exception-reporting":
    userId: "75d380b7-790c-6e91-499b-2105a266b4e9"
  "highlight-selected": {}
  latex:
    texPath: "C:\\Program Files (x86)\\MiKTeX 2.9\\miktex\\bin"
  linter: {}
  "merge-conflicts": {}
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "omnisharp-atom":
    codeLens: false
  pigments: {}
  "sync-settings":
    _analyticsUserId: "d6079385-8772-4b12-8653-c5ffa87dc3bd"
    _lastBackupHash: "f759d569f5ed0a454967b4979dbef15e6b19c091"
    gistDescription: "Used by atom to sync settings"
    gistId: "68ac842fd946078a074b3060e83bddd3"
    personalAccessToken: "27f6820f95fab25bf48eafa3eaec823edddba710"
    syncStyles: false
  "todo-show": {}
  "vim-mode": {}
  welcome:
    showOnStartup: false
